---
template: page.html
title: Vert.x
stickyheader: true
---

<div class="index-header" id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 text-center">
        <h2><strong>Vert.x</strong> 是一个基于 <strong>JVM</strong> 构建 <strong>reactive</strong> 应用的工具集.</h2>
        <div class="buttons">
          <a class="btn btn-default btn-lg btn-transparent"
             href="{{ site_url }}download/" role="button">
            {% icon "install" %} 下载 v{{ project_version }}</a><br>
          <span class="github-btn">
            <iframe src="https://ghbtns.com/github-btn.html?user=eclipse&amp;repo=vert.x&amp;type=star&amp;count=true&amp;size=large"
                  frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container highlight highlight-scale">
  <div class="row">
    <div class="col-sm-6">
      <h2>可伸缩性</h2>
      <p>Vert.x 是 <em>事件驱动</em> , <em>无阻塞</em>的. 这意味着你的应用可以使用少量核心线程就能进行大量的并发处理.
        Vert.x 使你的应用可以使用最少的硬件进行扩展.</p>
    </div>

    <div class="col-sm-offset-1 col-sm-5 text-right">
      <img src="{{ site_url }}assets/reactive.svg" height="100%">
    </div>
  </div>
</div>

<div class="highlight highlight-polyglot">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 code-samples">
        <!-- code samples -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#ws_java" data-toggle="tab">Java</a></li>
          <li><a href="#ws_js" data-toggle="tab">JavaScript</a></li>
          <li><a href="#ws_groovy" data-toggle="tab">Groovy</a></li>
          <li><a href="#ws_ruby" data-toggle="tab">Ruby</a></li>
          <li><a href="#ws_ceylon" data-toggle="tab">Ceylon</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="ws_java">
            <pre class="prettyprint"><code class="java">
import io.vertx.core.AbstractVerticle;
public class Server extends AbstractVerticle {
  public void start() {
    vertx.createHttpServer().requestHandler(req -> {
      req.response()
        .putHeader("content-type", "text/plain")
        .end("Hello from Vert.x!");
    }).listen(8080);
  }
}</code></pre>
          </div>

          <div class="tab-pane" id="ws_js">
            <pre class="prettyprint"><code class="javascript">
vertx.createHttpServer()
  .requestHandler(function (req) {
    req.response()
      .putHeader("content-type", "text/plain")
      .end("Hello from Vert.x!");
}).listen(8080);</code></pre>
          </div>

          <div class="tab-pane" id="ws_groovy">
            <pre class="prettyprint"><code class="groovy">
vertx.createHttpServer().requestHandler({ req ->
  req.response()
    .putHeader("content-type", "text/plain")
    .end("Hello from Vert.x!")
}).listen(8080)</code></pre>
          </div>

          <div class="tab-pane" id="ws_ruby">
            <pre class="prettyprint"><code class="ruby">
$vertx.create_http_server().request_handler() { |req|
  req.response()
    .put_header("content-type", "text/plain")
    .end("Hello from Vert.x!")
}.listen(8080)</code></pre>
          </div>

          <div class="tab-pane" id="ws_ceylon">
            <pre class="prettyprint"><code class="ceylon">
import io.vertx.ceylon.core { ... }
import io.vertx.ceylon.core.http { ... }
shared class Server() extends Verticle() {
  start() => vertx.createHttpServer()
    .requestHandler((HttpServerRequest req) =>
      req.response()
        .putHeader("content-type", "text/plain")
        .end("Hello from Vert.x!")
    ).listen(8080);
}</code></pre>
          </div>

        </div>
      </div>
      <div class="col-sm-6 text-right">
        <h2>多语言</h2>
        <p>你可以使用多种语言编写 Vert.x 应用,包括 <strong>Java</strong>, <strong>JavaScript</strong>,
          <strong>Groovy</strong>, <strong>Ruby</strong>, and <strong>Ceylon</strong>.</p>
        <p>Vert.x 不宣扬哪种语言<em>最好</em>. 你可以根据当前的任务和<em>你的</em>团队的技能栈来选择语言.</p>
        <p>我们为 Vert.x 支持的每种语言都提供了<em>通用的</em> APIs.</p>
      </div>
    </div>
  </div>
</div>

<div class="highlight highlight-general">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <h3>General purpose</h3>
        <img src="{{ site_url }}assets/general_purpose.svg">
        <p>Vert.x is incredibly flexible - whether it's simple network utilities,
          sophisticated modern web applications, HTTP/REST microservices, high volume event processing or a full blown
          back-end message-bus application, Vert.x is a great fit.</p>
        <p>Vert.x is used by <a href="{{ site_url }}whos_using">many different companies</a> from real-time gaming to banking and everything in
        between.</p>
      </div>

      <div class="col-sm-6 text-center">
        <h3>Unopinionated</h3>
        <img src="{{ site_url }}assets/opinion.svg">
        <p>Vert.x is not a restrictive framework or container and we don't tell you a <em>correct</em> way to write an application.
          Instead we give you a lot of useful bricks and let you create your app the way <em>you</em> want to.</p>
        <p>Need some guidance? We provide a large selection of <a href="https://github.com/vert-x3/vertx-examples">examples</a> to get you
          started for the particular type of application you want to write.</p>
      </div>
    </div>
  </div>
</div>

<div class="highlight highlight-fun">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>Vert.x 是<em>有趣的</em></h2>
        <p>享受再次成为开发人员.</p>
        <p>不像传统的有约束的应用容器, Vert.x 带来难以置信的力量和敏捷性,让你可以用希望的语言
          来创建引人注目的,可扩展的21世纪应用,将困扰最小化.</p>
      </div>
      <div class="col-sm-6 highlight-fun-right">
        <ul>
          <li><p>Vert.x 是<em>轻量级的</em> - Vert.x core 大约 650kB 大小.</p></li>
          <li><p>Vert.x 是<em>快速的</em>. 这里是第三方的
            <a href="https://www.techempower.com/benchmarks/#section=data-r8&hw=i7&test=plaintext">Benchmarks</a>.</p></li>
          <li><p>Vert.x 不是<em>应用服务器</em>. 在你部署的应用不存在作为整体的 Vert.x 实例.
            你可以在任何地方运行你的应用.</p></li>
          <li><p>Vert.x 是<em>模块化的</em> - 当你需要更多的话直接增加就可以了.</p></li>
          <li><p>Vert.x 是<em>简单的但不是过分单纯的</em>. Vert.x 允许你简单地创建强大的应用程序.</p></li>
          <li><p>Vert.x 是创建轻量级,高性能, <em>微服务</em>的理想选择.</p></li>
        </ul>
      </div>
    </div>

    <div class="row highlight highlight-stack">
      <div class="col-sm-12 text-center">
        <p>想私下询问 Vert.x? 请 <a href="mailto:vertx-enquiries@googlegroups.com">联系我们</a>.</p>
      </div>
    </div>
  </div>
</div>

<div class="highlight highlight-who">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>谁在使用 Vert.x?</h2>
        <!-- iterate over logos and generate rows and cols for different resolutions -->
        {% set res = {"xs": 1, "sm": 2, "md": 3, "lg": 4} %}
        {% for cols in res %}
          {% set outerloopkey = loop.key %}
          {% set colwidth = 12 / cols %}
          <div class="visible-{{ outerloopkey }}-block">
            <div class="row user-logos">
              {% for logo in users_home_page %}
                <div class="col-sm-{{ colwidth }} user-logo">
                  <a href="{{ logo.link }}"><img src="{{ site_url }}assets/user_logos/{{ logo.src }}" width="180" height="{{ logo.height }}"></a>
                </div>
                {% if loop.index % cols == 0 %}
                  </div>
                  <div class="row user-logos">
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}

        <div class="row">
          <div class="col-sm-12 wanttobelisted">
            <a class="btn btn-default btn-md btn-transparent" href="{{ site_url }}whos_using" role="button">{% icon "list" %} 更多 &hellip;</a><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
